
<!-- <mat-toolbar>
  Host -->
  <!-- <mat-nav-list align="center">
      <a mat-list-item href="#" style="float:right">hhhhhhhhh</a>
  </mat-nav-list>
  
      <button type="button" mat-button  [routerLink] = "['/home']" style= "float: right">
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button> -->
      <!-- <button type="button" id="homeButton" mat-button  [routerLink] = "['/register']" style= "float: right">
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      

      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>ABOUT</button>
        <button mat-menu-item>QUIT</button>
      </mat-menu>

</mat-toolbar> -->

<!-- <div class="navbar is-dark" style="background-color:darkorange; padding: 1%;">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../assets/images/logo.png" height="64px">
    </a>
  </div>
  <div class="navbar-content">
    <a class="navbar-item">
      thgbthgbtg
    </a>
  </div>
</div> -->

<div style="margin:auto; width: 80%; padding: 6%; background-image: linear-gradient(rgb(241, 241, 241), white); font-size: 24px; font-family: sans-serif; color: darkseagreen;">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
                <img mat-card-image src="../../assets/images/home1.jpeg" alt="Photo of a Shiba Inu" height="400px" width="520px">    
        </mat-grid-tile>
        <mat-grid-tile>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
        </mat-grid-tile>
      </mat-grid-list>
</div>

<div style="margin:auto; width: 80%; padding: 6%; font-size: 24px; font-family: sans-serif; color: darkseagreen;">
      <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>  
          </mat-grid-tile>
          <mat-grid-tile>
              <img mat-card-image src="../../assets/images/home2.jpg" alt="Photo of a Shiba Inu" height="400px" width="520px">
                  
          </mat-grid-tile>
        </mat-grid-list>
</div>

<div class="container" align="center">
        <h2>    
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </h2>
</div>

